 <div class="container">
                <!-- Logo container-->
                <div>
                    <a class="logo" href="/">
                        <span class="logo-light-mode">
                            <img src="../assets/images/logo-dark.png" class="l-dark" height="24" alt="">
                            <img src="../assets/images/logo-light.png" class="l-light" height="24" alt="">
                        </span>
                        <img src="../assets/images/logo-light.png" height="24" class="logo-dark-mode" alt="">
                    </a>
                </div>
                <!-- End Logo container-->
                
                <!-- Start Mobile Toggle -->
                <div class="menu-extras">
                    <div class="menu-item">
                        <!-- Mobile menu toggle-->
                        <a class="navbar-toggle" id="isToggle" onclick="toggleMenu()">
                            <div class="lines">
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                        </a>
                        <!-- End mobile menu toggle-->
                    </div>
                </div>
                <!-- End Mobile Toggle -->

                <!-- Start Dropdown -->
                <ul class="dropdowns list-inline mb-0">
                    <li class="list-inline-item mb-0">   
                         <a class="dropdown-item text-dark" href="/SignUp"><span class="mb-0 d-inline-block me-1"><i class="uil uil-sign-out-alt align-middle h6"></i></span> Sign up</a>
                        </a>
                    </li>

                    <li class="list-inline-item mb-0 ms-1">
                          <a class="dropdown-item text-dark" href="/SignIn"><span class="mb-0 d-inline-block me-1"><i class="uil uil-sign-out-alt align-middle h6"></i></span> Sign In</a>
                    </li>
                    
                </ul>
                <!-- Start Dropdown -->
        
                <div id="navigation">
                    <!-- Navigation Menu-->   
                    <ul class="navigation-menu nav-left nav-light">
                        <li class="has-submenu parent-menu-item">
                             <li><a href="/" class="sub-menu-item">Home</a></li>
                        </li>

                        <li class="has-submenu parent-parent-menu-item">
                         
                        <a href="/aboutus" class="sub-menu-item"> AboutUs</a>
                                   
                        </li>
                        <li class="has-submenu parent-menu-item"> 
                             <a href="/contact" class="sub-menu-item">Contact</a>
                        </li>
                        <li class="has-submenu parent-menu-item">
                        
                            <li><a href="/depertments" class="sub-menu-item">Departments</a></li>
                        
                        </li>
                        <li class="has-submenu parent-menu-item">
                             <a href="/appointmentBook" class="sub-menu-item">AppointmentBook</a>
                        </li>

                    </ul><!--end navigation menu-->
                </div><!--end navigation-->
            </div><!--end container-->