<div class="col-xl-3 col-lg-4 col-md-5 col-12">
  <div class="rounded shadow overflow-hidden sticky-bar">
    <div class="card border-0">
      <img
        src="../assets/images/doctors/profile-bg.jpg"
        class="img-fluid"
        alt=""
      />
    </div>
    <div
      class="text-center avatar-profile margin-nagative mt-n5 position-relative pb-4 border-bottom"
    >
      <img
        src="/{{data.profilePicture}}"
        class="rounded-circle shadow-md avatar avatar-md-md"
        alt=""
      />
      <h5 class="mt-3 mb-1">
        {{data.firstName}}
        {{data.lastName}}</h5>
      <p class="text-muted mb-0">{{data.departmentName}} </p>
    </div>

    <ul class="list-unstyled sidebar-nav mb-0">
      <li class="navbar-item"><a href="/dashboard" class="navbar-link"><i
            class="ri-airplay-line align-middle navbar-icon"
          ></i>
          Dashboard</a></li>
      <li class="navbar-item"><a
          href="/doctorAppointmentList"
          class="navbar-link"
        ><i class="ri-calendar-check-line align-middle navbar-icon"></i>
          Appointment</a></li>
      <li class="navbar-item"><a href="/doctorSchedules" class="navbar-link"><i
            class="ri-timer-line align-middle navbar-icon"
          ></i>
          Schedule Timing</a></li>
      <li class="navbar-item"><a href="/invoices" class="navbar-link"><i
            class="ri-pages-line align-middle navbar-icon"
          ></i>
          Invoices List</a></li>
      <li class="navbar-item"><a href="/profile" class="navbar-link"><i
            class="ri-user-line align-middle navbar-icon"
          ></i>
          Profile</a></li>
      <li class="navbar-item"><a
          href="/doctorProfileSetting"
          class="navbar-link"
        ><i class="ri-user-settings-line align-middle navbar-icon"></i>
          Profile Settings</a></li>
      <li class="navbar-item"><a href="/patientList" class="navbar-link"><i
            class="ri-empathize-line align-middle navbar-icon"
          ></i>
          Patients List</a></li>
          {{!-- <li class="navbar-item"><a href="/invoiceForm/:id" class="navbar-link"><i
            class="ri-calendar-check-line align-middle navbar-icon"
          ></i>
         Invoice</a></li> --}}
      <li class="navbar-item"><a href="/patientReview" class="navbar-link"><i
            class="ri-chat-1-line align-middle navbar-icon"
          ></i>
          Patients Review</a></li>
      <li class="navbar-item"><a href="/forgot-password" class="navbar-link"><i
            class="ri-device-recover-line align-middle navbar-icon"
          ></i>
          Forgot Password</a></li>
    </ul>
  </div>
</div><!--end col-->