<!DOCTYPE html>
<html lang="en">

<head>
    {{>head}}
</head>

<body>
    <!-- Loader -->
    {{!-- <div id="preloader">
        <div id="status">
            <div class="spinner">
                <div class="double-bounce1"></div>
                <div class="double-bounce2"></div>
            </div>
        </div>
    </div> --}}
    <!-- Loader -->

    <div class="page-wrapper doctris-theme toggled">
        <nav id="sidebar" class="sidebar-wrapper">
            {{>navAdmin}}
        </nav>
        <!-- sidebar-wrapper  -->

        <!-- Start Page Content -->
        <main class="page-content bg-light">
            {{>sideBarAdmin data = user}}

            <div class="container-fluid">
                <div class="layout-specing">
                    <div class="d-md-flex justify-content-between">
                        <h5 class="mb-0">Shopcart</h5>

                        <nav aria-label="breadcrumb" class="d-inline-block mt-4 mt-sm-0">
                            <ul class="breadcrumb bg-transparent rounded mb-0 p-0">
                                <li class="breadcrumb-item"><a href="/admin">Doctris</a></li>
                                <li class="breadcrumb-item"><a href="/adminShop">Shop</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Shopcart</li>
                            </ul>
                        </nav>
                    </div>

                    <div class="row mt-4">
                        <div class="col-12">
                            <div class="table-responsive bg-white shadow rounded">
                                <table class="table table-center table-padding mb-0">
                                    <thead>
                                        <tr>
                                            <th class="border-bottom p-3" style="min-width:20px "></th>
                                            <th class="border-bottom p-3" style="min-width: 300px;">Product</th>
                                            <th class="border-bottom text-center p-3" style="min-width: 160px;">Price
                                            </th>
                                            <th class="border-bottom text-center p-3" style="min-width: 190px;">Qty</th>
                                            <th class="border-bottom text-end p-3" style="min-width: 50px;">Total</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr>
                                            <td class="h5 p-3 text-center"><a href="#" class="text-danger"><i
                                                        class="uil uil-times"></i></a></td>
                                            <td class="p-3">
                                                <div class="d-flex align-items-center">
                                                    <img src="../assets/images/pharmacy/shop/ashwagandha.jpg"
                                                        class="img-fluid avatar avatar-small rounded shadow"
                                                        style="height:auto;" alt="">
                                                    <h6 class="mb-0 ms-3">Ashwagandha Churna</h6>
                                                </div>
                                            </td>
                                            <td class="text-center p-3">$ 255.00</td>
                                            <td class="text-center shop-list p-3">
                                                <div class="qty-icons">
                                                    <button
                                                        onclick="this.parentNode.querySelector('input[type=number]').stepDown()"
                                                        class="btn btn-icon btn-primary minus">-</button>
                                                    <input min="0" name="quantity" value="0" type="number"
                                                        class="btn btn-icon btn-primary qty-btn quantity">
                                                    <button
                                                        onclick="this.parentNode.querySelector('input[type=number]').stepUp()"
                                                        class="btn btn-icon btn-primary plus">+</button>
                                                </div>
                                            </td>
                                            <td class="text-end font-weight-bold p-3">$510.00</td>
                                        </tr>

                                        <tr>
                                            <td class="h5 p-3 text-center"><a href="#" class="text-danger"><i
                                                        class="uil uil-times"></i></a></td>
                                            <td class="p-3">
                                                <div class="d-flex align-items-center">
                                                    <img src="../assets/images/pharmacy/shop/diabend.jpg"
                                                        class="img-fluid avatar avatar-small rounded shadow"
                                                        style="height:auto;" alt="">
                                                    <h6 class="mb-0 ms-3">Diabend</h6>
                                                </div>
                                            </td>
                                            <td class="text-center p-3">$ 520.00</td>
                                            <td class="text-center shop-list p-3">
                                                <div class="qty-icons">
                                                    <button
                                                        onclick="this.parentNode.querySelector('input[type=number]').stepDown()"
                                                        class="btn btn-icon btn-primary minus">-</button>
                                                    <input min="0" name="quantity" value="0" type="number"
                                                        class="btn btn-icon btn-primary qty-btn quantity">
                                                    <button
                                                        onclick="this.parentNode.querySelector('input[type=number]').stepUp()"
                                                        class="btn btn-icon btn-primary plus">+</button>
                                                </div>
                                            </td>
                                            <td class="text-end font-weight-bold p-3">$520.00</td>
                                        </tr>

                                        <tr>
                                            <td class="h5 p-3 text-center"><a href="#" class="text-danger"><i
                                                        class="uil uil-times"></i></a></td>
                                            <td class="p-3">
                                                <div class="d-flex align-items-center">
                                                    <img src="../assets/images/pharmacy/shop/facewash.jpg"
                                                        class="img-fluid avatar avatar-small rounded shadow"
                                                        style="height:auto;" alt="">
                                                    <h6 class="mb-0 ms-3">Facewash</h6>
                                                </div>
                                            </td>
                                            <td class="text-center p-3">$ 160.00</td>
                                            <td class="text-center shop-list p-3">
                                                <div class="qty-icons">
                                                    <button
                                                        onclick="this.parentNode.querySelector('input[type=number]').stepDown()"
                                                        class="btn btn-icon btn-primary minus">-</button>
                                                    <input min="0" name="quantity" value="0" type="number"
                                                        class="btn btn-icon btn-primary qty-btn quantity">
                                                    <button
                                                        onclick="this.parentNode.querySelector('input[type=number]').stepUp()"
                                                        class="btn btn-icon btn-primary plus">+</button>
                                                </div>
                                            </td>
                                            <td class="text-end font-weight-bold p-3">$640.00</td>
                                        </tr>

                                        <tr>
                                            <td class="h5 p-3 text-center"><a href="#" class="text-danger"><i
                                                        class="uil uil-times"></i></a></td>
                                            <td class="p-3">
                                                <div class="d-flex align-items-center">
                                                    <img src="../assets/images/pharmacy/shop/handwash.jpg"
                                                        class="img-fluid avatar avatar-small rounded shadow"
                                                        style="height:auto;" alt="">
                                                    <h6 class="mb-0 ms-3">Dettol handwash</h6>
                                                </div>
                                            </td>
                                            <td class="text-center p-3">$ 260.00</td>
                                            <td class="text-center shop-list p-3">
                                                <div class="qty-icons">
                                                    <button
                                                        onclick="this.parentNode.querySelector('input[type=number]').stepDown()"
                                                        class="btn btn-icon btn-primary minus">-</button>
                                                    <input min="0" name="quantity" value="0" type="number"
                                                        class="btn btn-icon btn-primary qty-btn quantity">
                                                    <button
                                                        onclick="this.parentNode.querySelector('input[type=number]').stepUp()"
                                                        class="btn btn-icon btn-primary plus">+</button>
                                                </div>
                                            </td>
                                            <td class="text-end font-weight-bold p-3">$520.00</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!--end col-->
                    </div>
                    <!--end row-->

                    <div class="row">
                        <div class="col-lg-8 col-md-6 mt-4 pt-2">
                            <a href="#" class="btn btn-primary">Shop More</a>
                            <a href="#" class="btn btn-soft-primary ms-2">Update Cart</a>
                        </div>
                        <div class="col-lg-4 col-md-6 ms-auto mt-4 pt-2">
                            <div class="table-responsive bg-white rounded shadow">
                                <table class="table table-center table-padding mb-0">
                                    <tbody>
                                        <tr>
                                            <td class="h6 p-3">Subtotal</td>
                                            <td class="text-end font-weight-bold p-3">$ 2190</td>
                                        </tr>
                                        <tr>
                                            <td class="h6 p-3">Taxes</td>
                                            <td class="text-end font-weight-bold p-3">$ 219</td>
                                        </tr>
                                        <tr class="bg-light">
                                            <td class="h6 p-3">Total</td>
                                            <td class="text-end font-weight-bold p-3">$ 2409</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="mt-4 pt-2 text-end">
                                <a href="#" class="btn btn-primary">Proceed to checkout</a>
                            </div>
                        </div>
                        <!--end col-->
                    </div>
                    <!--end row-->
                </div>
            </div>
            <!--end container-->

            <!-- Footer Start -->
            <footer class="bg-white shadow py-3">
                {{>footerAdmin}}
            </footer>
            <!--end footer-->
            <!-- End -->
        </main>
        <!--End page-content" -->
    </div>
    <!-- page-wrapper -->

    <!-- Offcanvas Start -->
    <div class="offcanvas offcanvas-end bg-white shadow" tabindex="-1" id="offcanvasRight"
        aria-labelledby="offcanvasRightLabel">
        <div class="offcanvas-header p-4 border-bottom">
            <h5 id="offcanvasRightLabel" class="mb-0">
                <img src="../assets/images/logo-dark.png" height="24" class="light-version" alt="">
                <img src="../assets/images/logo-light.png" height="24" class="dark-version" alt="">
            </h5>
            <button type="button" class="btn-close d-flex align-items-center text-dark" data-bs-dismiss="offcanvas"
                aria-label="Close"><i class="uil uil-times fs-4"></i></button>
        </div>
        <div class="offcanvas-body p-4 px-md-5">
            <div class="row">
                <div class="col-12">
                    <!-- Style switcher -->
                    <div id="style-switcher">
                        <div>
                            <ul class="text-center list-unstyled mb-0">
                                <li class="d-grid"><a href="javascript:void(0)" class="rtl-version t-rtl-light"
                                        onclick="setTheme('style-rtl')"><img
                                            src="../assets/images/layouts/light-dash-rtl.png"
                                            class="img-fluid rounded-md shadow-md d-block" alt=""><span
                                            class="text-muted mt-2 d-block">RTL Version</span></a></li>
                                <li class="d-grid"><a href="javascript:void(0)" class="ltr-version t-ltr-light"
                                        onclick="setTheme('style')"><img src="../assets/images/layouts/light-dash.png"
                                            class="img-fluid rounded-md shadow-md d-block" alt=""><span
                                            class="text-muted mt-2 d-block">LTR Version</span></a></li>
                                <li class="d-grid"><a href="javascript:void(0)" class="dark-rtl-version t-rtl-dark"
                                        onclick="setTheme('style-dark-rtl')"><img
                                            src="../assets/images/layouts/dark-dash-rtl.png"
                                            class="img-fluid rounded-md shadow-md d-block" alt=""><span
                                            class="text-muted mt-2 d-block">RTL Version</span></a></li>
                                <li class="d-grid"><a href="javascript:void(0)" class="dark-ltr-version t-ltr-dark"
                                        onclick="setTheme('style-dark')"><img
                                            src="../assets/images/layouts/dark-dash.png"
                                            class="img-fluid rounded-md shadow-md d-block" alt=""><span
                                            class="text-muted mt-2 d-block">LTR Version</span></a></li>
                                <li class="d-grid"><a href="javascript:void(0)" class="dark-version t-dark mt-4"
                                        onclick="setTheme('style-dark')"><img
                                            src="../assets/images/layouts/dark-dash.png"
                                            class="img-fluid rounded-md shadow-md d-block" alt=""><span
                                            class="text-muted mt-2 d-block">Dark Version</span></a></li>
                                <li class="d-grid"><a href="javascript:void(0)" class="light-version t-light mt-4"
                                        onclick="setTheme('style')"><img src="../assets/images/layouts/light-dash.png"
                                            class="img-fluid rounded-md shadow-md d-block" alt=""><span
                                            class="text-muted mt-2 d-block">Light Version</span></a></li>
                                <li class="d-grid"><a href="../landing/index.html" target="_blank" class="mt-4"><img
                                            src="../assets/images/layouts/landing-light.png"
                                            class="img-fluid rounded-md shadow-md d-block" alt=""><span
                                            class="text-muted mt-2 d-block">Landing Demos</span></a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- end Style switcher -->
                </div>
                <!--end col-->
            </div>
            <!--end row-->
        </div>

        <div class="offcanvas-footer p-4 border-top text-center">
            <ul class="list-unstyled social-icon mb-0">
                <li class="list-inline-item mb-0"><a href="https://1.envato.market/doctris" target="_blank"
                        class="rounded"><i class="uil uil-shopping-cart align-middle" title="Buy Now"></i></a></li>
                <li class="list-inline-item mb-0"><a href="https://dribbble.com/shreethemes" target="_blank"
                        class="rounded"><i class="uil uil-dribbble align-middle" title="dribbble"></i></a></li>
                <li class="list-inline-item mb-0"><a href="https://www.facebook.com/shreethemes" target="_blank"
                        class="rounded"><i class="uil uil-facebook-f align-middle" title="facebook"></i></a></li>
                <li class="list-inline-item mb-0"><a href="https://www.instagram.com/shreethemes/" target="_blank"
                        class="rounded"><i class="uil uil-instagram align-middle" title="instagram"></i></a></li>
                <li class="list-inline-item mb-0"><a href="https://twitter.com/shreethemes" target="_blank"
                        class="rounded"><i class="uil uil-twitter align-middle" title="twitter"></i></a></li>
                <li class="list-inline-item mb-0"><a href="mailto:support@shreethemes.in" class="rounded"><i
                            class="uil uil-envelope align-middle" title="email"></i></a></li>
                <li class="list-inline-item mb-0"><a href="https://shreethemes.in" target="_blank" class="rounded"><i
                            class="uil uil-globe align-middle" title="website"></i></a></li>
            </ul>
            <!--end icon-->
        </div>
    </div>
    <!-- Offcanvas End -->

    <!-- javascript -->
    {{>javascript}}

</body>

</html>