
<!DOCTYPE html>
<html lang="en">

<head>
   {{>head}}

</head>

<body>
    <!-- Loader -->
    {{!-- <div id="preloader">
        <div id="status">
            <div class="spinner">
                <div class="double-bounce1"></div>
                <div class="double-bounce2"></div>
            </div>
        </div>
    </div> --}}
    <!-- Loader -->
    
   

    <!-- Hero Start -->
    <section class="bg-home d-flex bg-light align-items-center" style="background: url('../assets/images/bg/bg-lines-one.png') center;">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-5 col-md-8">
                    <img src="../assets/images/logo-dark.png" height="24" class="mx-auto d-block" alt="">
                    <div class="card login-page bg-white shadow mt-4 rounded border-0">
                        <div class="card-body">
                               <div id="form-response-data">

                            </div>
                            <h4 class="text-center">Recover Account</h4>  
                            <form  action="/api/forgotpassword" method="post"class="login-form mt-4" id="verify" >
                                <div class="row">
                                    <div class="col-lg-12">
                                        <p class="text-muted">Please enter your email address. You will receive a link to create a new password via email.</p>
                                        <div class="mb-3">
                                            <label class="form-label">Email address <span class="text-danger">*</span></label>
                                            <input type="email" class="form-control" placeholder="Enter Your Email Address" name="email" required="">
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="d-grid">
                                            <button class="btn btn-primary">Send</button>
                                        </div>
                                    </div>
                                    <div class="mx-auto">
                                        <p class="mb-0 mt-3"><small class="text-dark me-2">Remember your password ?</small> <a href="/SignIn" class="text-dark h6 mb-0">Sign in</a></p>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div><!---->
                </div> <!--end col-->
            </div><!--end row-->
        </div> <!--end container-->
    </section><!--end section-->
    <!-- Hero End -->
    
    <!-- javascript -->
   {{>javascript}}
     <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
   {{>javascript}}
    <script>
         $(document).ready(function () {
             //Common form request

//update status
    $("#verify").submit(function (e) {
            
        e.preventDefault();
        var fromData = $(this).serialize();
        
         $.ajax({
            type: 'POST',
            url:$(this).attr('action'),
            data:fromData,
            success: function (response) {
            console.log(response)
            if(response.status == 200){ 
                setTimeout(() => {
                swal({
                title: "Good job!",
                text: response.message,
                type: "success"
                }).then(function() {
                    window.location.href = '/SignIn';
                })
            },2000);
            
            }else{
                $("#form-response-data").html('<div  class="alert alert-success" role="alert">'+response.message+'</div>');   
            }
            }
         })
        })
            
            });
   </script>
    
    
</body>

</html>